@include fonts("clash-display");
@include fonts("clash-grotesk");

*, ::before, ::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
  font-family: "clash-display";
}

body {
  margin: 0;
  height: 100%;
  font-size: 1rem; // 10px
}