.heading-1 {
  font-size: 12.8rem;
  font-weight: 600;
  font-family: "clash-grotesk";
  line-height: 80%;
}

.heading-2 {
  font-size: 6.4rem;
  font-weight: 600;
  font-family: "clash-grotesk";
  line-height: 90%;
}

.heading-3 {
  font-size: 3.6rem;
  font-weight: 600;
  font-family: "clash-grotesk";
  line-height: 1;
}

.heading-4 {
  font-size: 2.4rem;
  font-weight: 600;
  font-family: "clash-grotesk";
  line-height: 1;
}

.heading-5 {
  font-size: 2rem;
  font-weight: 600;
  font-family: "clash-grotesk";
  line-height: 1;
}

.heading-6 {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: "clash-grotesk";
  line-height: 2rem;
}

.paragraph-1 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
  font-family: "clash-grotesk";
}

.paragraph-2 {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 500;
  font-family: "clash-grotesk";
}

.paragraph-3 {
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 500;
  font-family: "clash-grotesk";
}