$white: #ffffff;
$anti-flash-white: #EEF2F6;
$gainsboro: #D7DADD;
$raven: #7D838C;
$trout: #4B515A;
$charade: #2D333C;
$bunker: #0E1218;
$bright-sun: #F9D442;
$carnation-pink: #FF99C0;
$purple-mountains-majesty: #9981C2;
$oxley: #6D9985;