@use "sass:map";

button {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid;
  transition: 0.2s;

  &:not(:disabled) {
    cursor: pointer;
  }

  &.primary-solid {
    border-color: map.get($primary-solid-button, "background");
    background-color: map.get($primary-solid-button, "background");
    color: map.get($primary-solid-button, "text");

    &:hover {
      border-color: map.get($primary-solid-button, "hover");
      background-color: map.get($primary-solid-button, "hover");
      color: map.get($primary-solid-button, "text");
    }
  }

  &.secondary-solid {
    border-color: map.get($secondary-solid-button, "background");
    background-color: map.get($secondary-solid-button, "background");
    color: map.get($secondary-solid-button, "text");

    &:hover {
      border-color: map.get($secondary-solid-button, "hover");
      background-color: map.get($secondary-solid-button, "hover");
      color: map.get($secondary-solid-button, "text");
    }
  }

  &.tertiary-solid {
    border-color: map.get($tertiary-solid-button, "background");
    background-color: map.get($tertiary-solid-button, "background");
    color: map.get($tertiary-solid-button, "text");

    &:hover {
      border-color: map.get($tertiary-solid-button, "hover");
      background-color: map.get($tertiary-solid-button, "hover");
      color: map.get($tertiary-solid-button, "hover-text");
    }
  }
}