.container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@include min {
  .container {
    max-width: $lg;
  }
}

@include min($xl) {
  .container {
    max-width: $xl;
  }
}