@mixin font ($font-family, $font-url, $font-weight) {
  @font-face {
    font-weight: $font-weight;
    font-family: $font-family;
    src: url(#{"/fonts/" + $font-url + ".woff2"}) format("woff2"),
    url(#{"/fonts/" + $font-url + ".woff"}) format("woff"),
    url(#{"/fonts/" + $font-url + ".ttf"}) format("ttf");
    font-display: swap;
    font-style: normal;
  }
}

@mixin fonts($font-family){
  @include font($font-family, #{$font-family + "/extra-light"}, 200);
  @include font($font-family, #{$font-family + "/light"}, 300);
  @include font($font-family, #{$font-family + "/regular"}, 400);
  @include font($font-family, #{$font-family + "/medium"}, 500);
  @include font($font-family, #{$font-family + "/semibold"}, 600);
  @include font($font-family, #{$font-family + "/bold"}, 700);
  @include font($font-family, #{$font-family + "/variable"}, 200 700);
}

@mixin min ($breakpoint: $lg) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin max ($breakpoint: $lg) {
  @media (max-width: #{$breakpoint - 1px}) {
    @content;
  }
}