$xs: 280px;
$sm: 640px;
$md: 1024px;
$lg: 1200px;
$xl: 1440px;
$xxl: 1900px;

$white: #ffffff;
$anti-flash-white: #EEF2F6;
$gainsboro: #D7DADD;
$raven: #7D838C;
$trout: #4B515A;
$charade: #2D333C;
$bunker: #0E1218;

$bright-sun: #F9D442;
$carnation-pink: #FF99C0;

$purple-mountains-majesty: #9981C2;
$purple-mountains-majesty-hover: #856DAE;

$oxley: #6D9985;
$oxley-hover: #598571;

$primary-solid: (
        "background": $oxley,
        "hover": $oxley-hover,
        "text": $white,
);

$secondary-solid: (
        "background": $purple-mountains-majesty,
        "hover": $purple-mountains-majesty-hover,
        "text": $white,
);

$tertiary-dark-solid: (
        "border": $trout,
        "background": $bunker,
        "text": $white,
        "hover": $white,
        "hover-text": $bunker
);

$tertiary-light-solid: (
        "border": $trout,
        "background": $white,
        "text": $bunker,
        "hover": $bunker,
        "hover-text": $white
)